# Azure Document Intelligence
DOCINT_ENDPOINT=
DOCINT_KEY=

# Azure Blob Storage
BLOB_CONNECTION_STRING=

# Azure AI Search
SEARCH_ENDPOINT=
SEARCH_KEY=

# Azure OpenAI
OPENAI_ENDPOINT=
OPENAI_KEY=
OPENAI_EMBEDDING_DEPLOYMENT=embedding
OPENAI_CHAT_DEPLOYMENT=chat

# Azure SQL
SQL_SERVER=
SQL_DATABASE=
SQL_USERNAME=
SQL_PASSWORD=
